  <md-card>
    <img md-card-image src="/resource/img/{{product.image}}">
    <md-card-title>{{product.name}}</md-card-title>
    <md-card-content>
      <p>{{product.desciption}}</p>
    </md-card-content>
    <md-card-actions layout="row" align="end center">
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
         <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="/resource/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/resource/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="/resource/icons/share-arrow.svg"></md-icon>
          </md-button>      
    </md-card-actions>
  </md-card>